.checkout-header-container {
  border-bottom: 1px solid darkgray;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .header-block {
    text-transform: capitalize;
  }
}
